.CardStyle {
    margin: auto;
    background-color: #191a42;
    border: black;
}

#Title1 {
margin-top: 20px;
}

#CommentBox {
    resize: none;
    height: 150px;
    width: 80%;
    position: relative;
    right: -11px;
}


