#Title1 {
    margin-top: 20px;
}

#CommentBox {
    resize: none;
    height: 150px;
    width: 80%;
    position: relative;
    right: -11px;
}

.comment-card .card {
    margin: 10px;
    text-align: left;
    color: black;
    background-color: white;
}

.comment-card .card-header {
    font-weight: bold;
}

.comment-card .card-subtitle {
    margin-top: 4px;
    margin-left: 15px;
    text-decoration: underline;
}

.comment-card .card-body {
    background-color: white;
    color: black;
}

.comment-card .card-footer {
    color: black;
}

.CardStyle {
    margin: auto;
    background-color: #191a42;
    border: black;
}

.CardStyle #CommentBox {
    margin-left: 1px;
}