.movieImage {
    width: 200px;
    height: 300px;
}

#newReleasesTable {
    margin:auto;
    width: 60%;
    border-collapse: collapse;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.152);   
}

.movieText {
    padding: 5%;
    text-align: left;
}

#newReleasesTable tr {
    border-bottom: 1px solid #353dab;
}

#newReleasesTable tr:nth-of-type(even) {
    background-color: #202157;

}

#newReleasesTable tr:last-of-type {
    border-bottom: 2px solid #000000;
}