.movieImage {
    width: 200px;
    height: 300px;
}

#listingsTable {
    margin:auto;
    width: 60%;
    border-collapse: collapse;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);   
}

.movieText {
    padding: 5%;
    text-align: left;
}

#listingsTable tr {
    border-bottom: 1px solid #dddddd;
}

#listingsTable tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#listingsTable tr:last-of-type {
    border-bottom: 2px solid #720303;
}